
.parish .box-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
 }
 
 .parish .box-container .box:hover .image img {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }
 
 .parish .box-container .box.hide {
   display: none;
 }
 
 .parish .box-container .box .image {
   height: 25rem;
   overflow: hidden;
   position: relative;
 }
 
 .parish .box-container .box .image img {
   height: 100%;
   width: 100%;
   -o-object-fit: cover;
      object-fit: cover;
 }
 
 .parish .box-container .box .image h3 {
   font-size: 1.5rem;
   text-transform: capitalize;
   color: #444;
   position: absolute;
   top: 1rem;
   left: 1rem;
   padding: .5rem 1.5rem;
   background: #fff;
 }
 
 .parish .box-container .box .content {
   padding: 2rem;
   text-align: center;
   border: 0.1rem solid #C1B086;
 }
 
 .parish .box-container .box .content h3 {
   font-size: 2rem;
   text-transform: capitalize;
   color: #444;
 }
 
 .parish .box-container .box .content p {
   padding: 1rem 0;
   font-size: 1.6rem;
   line-height: 2;
   color: #777;
 }
 