@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-display: swap;
}
/* global styles */

:root {
  --yellow: #f9d342;
  --dark: #292826;
  --main-color: #c0392b;
  --accent-color: #f2f4f4;
  --color-gold: #c1b086;
  --color-white: #fff;
  --color-black: #000;
  --color-warning: #f7c94b;
  --color-success: #00bf8e;
  --color-danger: #f75842;
  --color-bg1: #f9f7f3;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn1{
  background: #C1B086;
}
.btn1 a{
  color: var(--color-white);
}
/* global styles end */
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #c1b086;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(../image/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--color-gold);
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #c1b086;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #c1b086;
  background: #f0fdfa;
  color: #c1b086;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #c1b086;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}

.header .logo i {
  color: #c1b086;
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.header .navbar a:hover {
  color: #c1b086;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #c1b086;
}

.header #menu-btn {
  display: none;
}
/* home section starts   */
.home {
  margin-bottom: 35rem;
}
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: var(--color-white);
  margin: 20% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-size: 20px;
  margin: 50px 0 0 50px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
  animation: bounce 1s ease-in-out infinite;
}
button a {
  color: var(--color-gold);
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.home button{
  margin-left: 50px;
 
}
.home button a{
  color: var(--color-white);
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 3px solid var(--color-white);
}

/* home section ends  */

/* About sections Starts */

.flex {
  display: flex;
}
.box {
  margin-top: 10%;
}
.left,
.right {
  width: 50%;
}
.about {
  margin-bottom: 50px;
}
.about .img {
  position: relative;
}
.about .image1 {
  width: 310px;
  height: 450px;
}
.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}
.heading {
  position: relative;
}
.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 200px;
  height: 4px;
  background: var(--dark);
}
.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
  font-size: 13px;
}
.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: var(--color-gold);
}
.heading p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
  text-justify: auto;
}
.heading .btn1 {
  margin: 50px 0 20px 50px;
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
}
/* Daily readings wrapper  */
.wrapper {
  background-image: url("../image/wrapper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  margin-top:3%;
}
.wrapper .text {
  background: var(--color-gold);
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: var(--color-white);
}
.wrapper h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark);
}
.wrapper p {
  margin: 20px 0 10px 0;
  line-height: 20px;
  font-size: 15px;
}

/* Daily readings wrapper end */

/* worship with us section starts */


.home-packages{
  background: var(--light-bg);
}

.home-packages .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .box{
  border:var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.home-packages .box-container .box:hover .image img{
  transform: scale(1.1);
}

.home-packages .box-container .box .image{
  height: 25rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.home-packages .box-container .box .content{
  padding:2rem;
  text-align: center;
}

.home-packages .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--black);
}

.home-packages .box-container .box .content p{
  font-size: 1.5rem;
  color:var(--light-black);
  line-height: 2;
  padding:1rem 0;
}

/* worship with us section starts end */
/* staff */
.staff {
  padding: 50px 0;
  text-align: center;
  justify-content: center;

}

.staff .heading {
  font-size: 36px;
  margin: 20px 20px;
}

.staff-slider {
  width: 100%;
  height: auto;
  padding: 20px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide .image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.swiper-slide .share a{
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--color-gold);
}

.swiper-slide .content  h3{
  font-size: 25px;
  margin-bottom: 20px;
}
.swiper-slide .content span{
  font-size: 16px;
  color: var(--color-gold);
}

.swiper-slide .social-icons {
  display: flex;
  justify-content: center;
}



.swiper-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  opacity: 0.5;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-gold);
}
/* staff */
/*--------------wrapper2--------*/
.wrapper2 {
  background-image: url("../image/wrapper.jpg");
  margin-bottom: 10%;
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: var(--color-white);
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*--------------wrapper2--------*/


/*--------------sacrament--------*/

.sacrament img {
  width: 100%;
  height: 100%;
}

.sacrament .right {
  padding: 50px 50px 50px 100px;
}

.sacrament h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.sacrament .text p {
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 13px;
  color: #5f5f5f;
}

.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 20px;
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: var(--color-gold);
  margin-bottom: 20px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: var(--color-white);
}

.open .accordionItemContent {
  padding: 30px;
  background-color: var(--color-white);
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}

/*--------------sacrament--------*/

/*--------------gallary--------*/
.gallary img {
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: var(--color-white) !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: var(--color-gold) !important;
}

/*--------------gallary--------*/
/*--------------map--------*/
.map iframe {
  width: 100%;
}

/*--------------map--------*/

.parish .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.parish .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.parish .box-container .box.hide {
  display: none;
}

.parish .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.parish .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.parish .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background: #fff;
}

.parish .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #c1b086;
}

.parish .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.parish .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}
/* Contact */
.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #c1b086;
  background: #faf4e6;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: #fff;
  background: #c1b086;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  border: 0.1rem solid #c1b086;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #c1b086;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}

.contact .row form .box:focus {
  background: var(--color-gold);
  color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}
/* Contact */

.faq .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  border: 0.1rem solid var(--color-gold);
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: var(--color-gold);
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #c1b086;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #c1b086;
  display: none;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
}

.footer {
  background: #faf4e6;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #c1b086;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #c1b086;
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #c1b086;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #c1b086;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #c1b086;
}

.footer .credit span a {
  color: #c1b086;
}
/* media queries Start here  */
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
  .swiper-slide {
    padding: 10px;
  }
  .sacrament .container,
  .about .container{
    flex-direction: column;
  }
  .sacrament .right {
    padding: 0;
    margin-top: 50px;
  }
  .sacrament .flex {
    flex-direction: column-reverse;
  }
  .about p,
  .home p {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .home .box .text {
    max-width: 100%;
  }
  /* .home .text {
    margin: 10% 0 0 0;
  } */
  .home {
    margin-bottom: 50rem;
  }
  .home .box .text::after,
  .home .image_item {
    display: none;
  }
  .home h1 {
    font-size: 5rem;
  }

  .left,
  .right {
    width: 100%;
  }
  .wrapper .text {
    width: 80%;
  }
  .wrapper .text {
    padding: 10px;
    height: 600px;
  }
  .about p,
  .home p {
    margin: 50px 0 0 0;
  }
}
@media (max-width: 576px) {
  .swiper-slide {
    padding: 5px;
  }
}